<a href="https://colab.research.google.com/github/2pterons/Algorithm/blob/main/1)_%EA%B7%B8%EB%A6%AC%EB%94%94_%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n = 1260
count = 0

# 큰 단위의 화폐부터 차례대로 확인하기
array = [500, 100, 50, 10]

for coin in array:
  count += n // coin # 해당 화폐로 거슬러 줄 수 있는 동전의 개수 세기
  n %= coin

print(count)

6

<br/><br/>
# <문제> 1이 될 때까지

In [ ]:
n, k = map(int, input().split())
result = 0

# N이 K 이상이라면 K로 계속 나누기
while n >= k:
  # N이 K로 나누어 떨어지지 않는다면 N에서 1씩 빼기
  while n % k != 0:
    n -= 1
    result += 1
  # K로 나누기
  n //= k
  result += 1

# 마지막으로 남은 수에 대하여 1씩 빼기
while n > 1:
  n -= 1
  result += 1

print(result)

9 3
2

In [ ]:
# N, K을 공백을 기준으로 구분하여 입력 받기
n, k = map(int, input().split())

result = 0

while True:
  # N이 K로 나누어 떨어지는 수가 될 때까지 빼기
  target = (n // k) * k
  result += (n - target)
  n = target
  # N이 K보다 작을 때 (더 이상 나눌 수 없을 때) 반복문 탈출
  if n < k:
    break
  # K로 나누기
  result += 1
  n //= k

# 마지막으로 남은 수에 대하여 1씩 빼기
result += (n - 1)
print(result)

3963423 4968483
3963422

<br/><br/>
# 곱하기 혹은 더하기

In [ ]:
data = input()

# 첫 번째 문자를 숫자로 변경하여 대입
result = int(data[0])

for i in range(1, len(data)):
  # 두 수 중에서 하나라도 '0' 혹은 '1'인 경우, 곱하기보다는 더하기 수행
  num = int(data[i])
  if num <= 1 or result <= 1:
    result += num
  else:
    result *= num

print(result)

12345
180

<br/><br/>
# 모험가 길드

In [ ]:
n = int(input())
data = list(map(int, input().split()))
data.sort() # 오름차순으로 정렬

result = 0 # 총 그룹의 수
count = 0 # 현재 그룹에 포함된 모험가의 수

for i in data: # 공포도를 낮은 것부터 하나씩 확인하며
  count += 1 # 현재 그룹에 해당 모험가를 포함시키기
  if count >= i: # 현재 그룹에 포함된 모험가의 수가 현재의 공포도 이상이라면 , 그룹 결성
    result += 1 # 총 그룹의 수 증가시키기
    count = 0 # 현재 그룹에 포함된 모험가의 수 초기화

print(result) # 총 그룹의 수 출력

5
2 8 3 4 6
0

In [ ]:
n = int(input())
data = list(map(int, input().split()))
data.sort()

count = 0
result = 0
for i in data:
  count += 1
  if count >= i:
    result += 1
    count = 0

print(result)

5
3 6 4 3 2
1

<br/><br/>
# 백준 1461 도서관

In [29]:
# 정리해야 할 책의 갯수와 들 수있는 책의 갯수 
n, m = map(int, input().split())

# 책의 원래 위치
loc = list(map(int, input().split()))

left = []
right = []
for i in loc:
  if i > 0:
    right.append(i)
  elif i < 0:
    left.append(i)

right.reverse()
left.sort()

print(right, left)

result = 0
for i in range(0, n-1, m):
  result += abs(loc[i])*2

7 2
2 11 12 -37 -39 -2
[12, 11, 2] [-39, -37, -2]

In [19]:
result

104