<a href="https://colab.research.google.com/github/2pterons/Algorithm/blob/main/%EC%BD%94%EB%94%A9%ED%85%8C%EC%8A%A4%ED%8A%B8/2021_10/2%EC%A3%BC%EC%B0%A8/CHAPTER_04_%EA%B5%AC%ED%98%84_%EC%8B%9C%EA%B0%81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 시각

정수 N이 입력되면 00시 00분 00초부터 N시 59분 59초까지의 모든 시각 중에서 3이 하나라도 포함되는 모든 경우의 수를 구하는 프로그램을 작성하시오.<br/>
예를 들어 1을 입력했을 때 다음은 3이 하나라도 포함되어 있으므로 세어야 하는 시각이다.<br/>

- 00시 00분 03초
- 00시 13분 30초

반면에 다음은 3이 하나도 포함되어 있지 않으므로 세면 안 되는 시각이다.<br/>
- 00시 02분 55초
- 01시 27분 45초

<br/><br/>

### 입력 조건 :
첫째 줄에 정수 N이 입력된다. (0 ≤ N < 23)

---
<br/><br/>

### 출력 조건 :
00시 00분 00초부터 N시 59분 59초까지의 모든 시각 중에서 3이 하나라도 포함되는 모든 경우의 수를 출력한다.

---
<br/><br/>

### 입력 예시
```
5
```
---

<br/>

### 출력 예시
```
11475
```
---

<br/><br/>

난이도 : ★☆☆ | 풀이 시간 : 15분 | 시간 제한 : 2초 | 메모리 제한 : 128MB <br/>
### 소요시간 :

In [ ]:
n = int(input("입력:"))

hour = 0
min = 0
sec = 0

cnt = 0
while hour < n:
  for i in range(0, 60):
    for j in range(0, 60):
      sec += j
      if hour % 3 == 0 or min % 3 == 0 or sec % 3 == 0:
        cnt += 1
    min += 1
  hour+= 1

print(cnt)

입력:5
15600

<br/><br/>

# 서적 답안 예시

In [ ]:
# H를 입력받기
h = int(input())

count = 0
for i in range(h + 1):
  for j in range(60):
    for k in range(60):
      #매 시각 안에 '3'이 포함되어 있다연 카운트 증가
      if '3' in str(i) + str(j) + str(k):
        count += 1

print(count)

5
11475